<link rel="stylesheet" href="<%- theme.libs.css.dplayer %>">
<style type="text/css">
    .input-info {
        display: none;
    }
</style>
<div class="video-player">
    <% if (theme.dplayer.showTitle) { %>
    <div class="title center-align" ondblclick="doubleClick()">
        <i class="fa fa-video-camera"></i>&nbsp;&nbsp;<%- theme.dplayer.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s12">
            <div class="input-info">
                url:<input type="text" class="input-url" name="input-url" />
                pic:<input type="text" class="input-pic" name="input-pic" />
                <button onclick="palyVideo()">确认切换</button>
            </div>
            <div id="dplayer" class="dplayer-video"
                    <% if (theme.dplayer.height) { %> style="height: <%- theme.dplayer.height %>px;"<% } %>></div>
        </div>
    </div>
</div>

<script src="<%- theme.libs.js.dplayer %>"></script>
<script>
    var dp;
    $(function () {
       dp = new DPlayer({
            container: document.getElementById('dplayer'),
            live: '<%- theme.dplayer.live %>',
            autoplay: '<%- theme.dplayer.autoplay %>' === 'true',
            theme: '<%- theme.dplayer.theme %>',
            loop: '<%- theme.dplayer.loop %>' === 'true',
            lang: '<%- config.language %>' === 'zh-CN' ? 'zh-cn' : 'en',
            preload: '<%- theme.dplayer.preload %>',
            volume: Number('<%- theme.dplayer.volume %>'),
            video: {
                url: '<%- theme.dplayer.video.url %>',
                type: '<%- theme.dplayer.video.type %>',
                pic: '<%- theme.dplayer.video.pic %>',
                quality: '<%- theme.dplayer.video.quality %>',
                defaultQuality: '<%- theme.dplayer.video.defaultQuality %>',
                thumbnails: '<%- theme.dplayer.video.thumbnails %>'
            },
            subtitle: {
                url: '<%- theme.dplayer.subtitle.url %>',
                type: '<%- theme.dplayer.subtitle.type %>',
                fontSize: '<%- theme.dplayer.subtitle.fontSize %>',
                bottom: '<%- theme.dplayer.subtitle.bottom %>',
                color: '<%- theme.dplayer.subtitle.color %>',
            },
            danmaku: {
                id: '<%- theme.dplayer.danmaku.id %>',
                api: '<%- theme.dplayer.danmaku.api %>',
                token: '<%- theme.dplayer.danmaku.token %>',
                maximum: '<%- theme.dplayer.danmaku.maximum %>',
                addition: '<%- theme.dplayer.danmaku.addition %>'.split(','),
                user: '<%- theme.dplayer.danmaku.user %>',
                bottom: '<%- theme.dplayer.danmaku.bottom %>',
                unlimited: '<%- theme.dplayer.danmaku.unlimited %>',
            },
        });
    });
    function palyVideo() {
        var input_url = $(".input-url").val()
        var input_pic = $(".input--pic").val()
        dp.switchVideo({
            url: input_url,
            pic: input_pic
        })
    }
    function doubleClick(){
        var $inputInfo = $(".input-info");
        $inputInfo.toggle();
    }

</script>